// bower:scss
// endbower
body {
  //background: #373B44;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: white;
}

.main-nav {
  position: absolute;
  top: 30px;
  right: 30px;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);

  .nav {
    list-style: none;
    li {
      position: relative;
      padding: 10px 0;
      text-align: right;
      a {
        display: inline-block;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        border-bottom: 2px solid white;
        padding: 0 0 5px 10px;
        transition: color 0.5s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        &:hover {
          &:before {
            transform: scale3d(1, 1, 1);
          }
        }
        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          opacity: 0.3;
          transform: scale3d(0, 1, 1);
          transform-origin: 0% 50%;
          transition: transform 0.5s;
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          background: #7075FF;
        }
      }
    }
  }
}

#home {
  width: 100%;
  height: 100vh;
  z-index: 100 !important;
}

#particles-intro-js {
  z-index: -10 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#site-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .data {
    width: 90%;
    max-width: 1140px;
  }
  .home-title {
    text-transform: uppercase;
    span {
      display: block;
    }
    .small-title {
      font-size: 3rem;
      font-weight: 400;
    }
    .medium-title {
      font-size: 3rem;
      font-weight: 400;
    }
    .big-title {
      font-size: 6rem;
      font-weight: 700;
    }
  }
  .intro-subtitle {
    font-size: 20px;
    font-weight: 300;
  }
  .separator {
    width: 550px;
    height: 3px;
    margin: 30px 0;
  }
  .colorful {
    background: rgba(255, 46, 46, 1);
    background: -moz-linear-gradient(left, rgba(255, 46, 46, 1) 0%, rgba(255, 144, 41, 1) 19%, rgba(246, 218, 4, 1) 40%, rgba(124, 239, 58, 1) 60%, rgba(78, 93, 255, 1) 78%, rgba(128, 54, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 46, 46, 1)), color-stop(19%, rgba(255, 144, 41, 1)), color-stop(40%, rgba(246, 218, 4, 1)), color-stop(60%, rgba(124, 239, 58, 1)), color-stop(78%, rgba(78, 93, 255, 1)), color-stop(100%, rgba(128, 54, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 46, 46, 1) 0%, rgba(255, 144, 41, 1) 19%, rgba(246, 218, 4, 1) 40%, rgba(124, 239, 58, 1) 60%, rgba(78, 93, 255, 1) 78%, rgba(128, 54, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 46, 46, 1) 0%, rgba(255, 144, 41, 1) 19%, rgba(246, 218, 4, 1) 40%, rgba(124, 239, 58, 1) 60%, rgba(78, 93, 255, 1) 78%, rgba(128, 54, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 46, 46, 1) 0%, rgba(255, 144, 41, 1) 19%, rgba(246, 218, 4, 1) 40%, rgba(124, 239, 58, 1) 60%, rgba(78, 93, 255, 1) 78%, rgba(128, 54, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 46, 46, 1) 0%, rgba(255, 144, 41, 1) 19%, rgba(246, 218, 4, 1) 40%, rgba(124, 239, 58, 1) 60%, rgba(78, 93, 255, 1) 78%, rgba(128, 54, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e2e', endColorstr='#8036ff', GradientType=1);

  }
  .bold {
    font-weight: 700 !important;
  }
}

#social-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  #social {
    list-style: none;
    margin: 0;
    padding: 0;
    &:hover {
      li {
        &.icon {
          transform: translateX(0);
          transition: all 0.25s ease-out;
        }
      }
    }
    li {
      a {
        display: inline-block;
        position: relative;
        width: 100%;
        color: white;
        text-align: center;
        i {
          width: 45px;
          height: 45px;
          position: relative;
          padding: 5px;
          text-align: center;
          font-size: 25px;
          line-height: 45px;
          background: RGBA(77, 81, 183, .5);
          color: white;
        }
      }
      &.icon {
        transform: translateX(-100px);
        transition: all 0.5s ease-out;
        a {
          border-bottom: 1px solid rgba(255, 255, 255, .25);
          i {
            background: rgba(255, 255, 255, .95);
            color: #373B44;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #site-content {
    .home-title {
      .medium-title {
        font-size: 1.5rem;
        font-weight: 400;
      }
      .big-title {
        font-size: 4rem;
        font-weight: 700;
      }
    }
    .intro-subtitle {
      font-size: 18px;
    }
    .separator {
      width: 280px;
    }
  }
}
